<!DOCTYPE html>
<html>
<head>
	<title>Camagru</title>
	
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="../../css/bootstrap.css">
	<link rel="stylesheet" href="../../css/styles.css"> 
</head>
<body>


	<div class="container">
		<div class="header">
			<ul class="nav nav-tabs my-2 my-md-0 mr-md-3"> 
				{{#if  user}}
				<li class="nav-item p-2"> <a class="nav-link active"
					href="/gallery">Gallery</a> 
				</li>
				<li  class="nav-item p-2"><a class="nav-link active"
					href="/users/webcam">Webcam</a>
				</li>
				<li  class="nav-item p-2"><a class="nav-link active" href="/users/logout">Logout</a> 
				</li>
				{{else}} 
				<li  class="nav-item p-2"> <a class="nav-link active" href="/users/login">Login</a> </li>
				<li  class="nav-item p-2"><a class="nav-link active"
					href="/users/register">Register</a>
				</li> 
				{{/if}}
			</ul>
			<h3 class="text-muted">Camagru</h3>
		</div>
		<div class="row">
			<div class="col-lg-12"> 
				{{#if success_msg}}
				<div class="alert alert-success">{{success_msg}}</div>
				{{/if}}

				{{#if error_msg}}
				<div class="alert alert-danger">{{error_msg}}</div>
				{{/if}}

				{{#if error}}
				<div class="alert alert-danger">{{error}}</div>
				{{/if}}

				{{{body}}}
			</div>  
		</div>
		<footer class="footer">
			<p>&copy; tshata</p>
		</footer>
	</div> <!-- /container -->
	<script type="text/javascript" src="/js/webcam.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>

</html>

